.background1{
    background-color: lightblue;
    background-image:url("upfeathers.png");
    border: 3px solid rgb(132, 171, 245);
}
#somethingCool{
    border:10px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    padding: 5%;
    height: 150px;
    width: 50%;
}
h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}